# Ignore python cache files
src/__pycache__

# Ignore personal files
backup.txt
metodologia-indice-interno.txt
roadmap-metodologia.txt

# Ignore unhelpful files
other/data
other/figures
other/papers
forecast_results
notebooks
.vscode
2 - sim.ipynb
